//Partie animations

//Spinner loader
.loader {
	position: fixed;
	height: 100vh;
	background-color: rgb(238, 234, 234);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	@extend %center;
	animation: opacityNone 4s forwards;

	.spinnerContainer {
		height: 120px;
		width: 120px;
		@extend %center;
		background-color: transparent;
		position: relative;

		.firstSpinner {
			position: absolute;
			@extend %spinnerLoader;
			border-top: 10px solid $primaryColor;
			animation: firstSpin 2.5s forwards;
		}
		.secondSpinner {
			@extend %spinnerLoader;
			border-bottom: 10px solid $tertiaryColor;
			animation: secondSpin 2.5s forwards;
		}
	}
}

@keyframes firstSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1440deg);
		opacity: 0;
	}
}

@keyframes secondSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-1440deg);
		opacity: 0;
	}
}

@keyframes opacityNone {
	from {
		opacity: 0.7;
		z-index: 2;
	}
	to {
		opacity: 0;
		z-index: -1;
	}
}
