.cardRestaurant {
	position: relative;
	height: 210px;
	width: 90%;
	@extend %bShadow;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 25px;
	cursor: pointer;
	a {
		text-decoration: none;
		color: black;
	}
	.imageRestaurants img {
		object-fit: cover;
		width: 100%;
		height: 150px;
		border-radius: 15px 15px 0 0;
	}
	.nouveau {
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: $tertiaryColor;
		font-size: 14px;
		padding: 1px 12px;
		font-weight: bold;
		color: green;
	}
	.titleRestaurant {
		margin-left: 10px;
		margin-top: 10px;
	}

	h3 {
		font-size: 0.9em;
	}
	p {
		font-size: 0.8em;
		line-height: 20px;
	}
	.fa-heart {
		position: absolute;
		top: 175px;
		right: 10px;
	}
}
