footer {
	width: 100vw;
	height: 150px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: #3b3b3b;
	color: rgb(246, 245, 245);
	padding: 15px 0 150px 20px;
	h3 {
		font-family: $fontShrikhand;
		padding-bottom: 10px;
		font-weight: normal;
		font-size: 18px;
	}
	ul {
		list-style: none;
	}
	a{
		text-decoration: none;
		color:rgb(246, 245, 245);
	}
	li {
		line-height: 25px;
		cursor: pointer;
	}
	li:nth-child(1) {
		padding-left: 6px;
	}
	.fa-utensils {
		padding-right: 5px;
		font-size: 10px;
	}
	.fa-hands-helping {
		padding-left: 3px;
		padding-right: 5px;
		font-size: 10px;
	}
}

@media screen and(min-width:600px) {
	footer{
		text-align: center;
		font-size: 20px;
		h3{
			font-size: 24px;
		}
	
	}
}