header {
	flex-direction: column;
	width: 100%;
	position: relative;

	.logo {
		@extend %center;
		margin: 20px 0 5px 0px;
		height: 100%;
		width: 100%;
	}

	.logo img {
		width: 200px;
		height: 100%;
		margin-bottom: 15px;
	}
	a{
		text-decoration: none;
		color:black;
		
	}
	i {
		font-size: 16px;
		position: absolute;
		left:5%;
		top:38px;
	}
}
