// Partie menu

.choixDuMenu {
	height: 300px;
	display: block;
	width: 100%;

	img {
		object-fit: cover;
		height: 390px;
		width: 100vw;
	}
}
.principale {
	width: 100%;
}

.menu {
	border-radius: 25px 25px 0 0;
	background-color: #e6e6e6;
	padding: 30px 10px;
	h2 {
		font-family: $fontShrikhand;
		font-weight: 400;
		padding-bottom: 20px;
	}
}
.subtitleMenu {
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
	border-bottom: 4px solid $tertiaryColor;
	width: 40px;
}
.containerEntrees {
	height: auto;
	display: flex;
	flex-direction: column;
}

.containerPlats {
	@extend .containerEntrees;
}

.containerDesserts {
	@extend .containerEntrees;
}

.containerBtnHome {
	padding: 30px 0 40px 0;
}

//Media querries tablette

@media screen and (min-width: 600px) {
	.containerMenu {
		// width: 100%;
		overflow: hidden;
		// display: block;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.choixDuMenu {
		height: 450px;
		img {
			height: 500px;
		}
	}
	.containerEntrees {
		overflow: hidden;
		width: 350px;
	}

	.etiquettes {
		width: 350px;
	}
}

//Media querries desktop

@media screen and (min-width: 1024px) {
	.menu {
		position: relative;
	}
	.choixDuMenu {
		height: 500px;
		img {
			height: 600px;
		}
	}
	.containerMenu {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 50px;
	}
	.quatreEntrees {
		margin-top: 75px;
	}
	.titleMenu {
		position: absolute;
		top: 15px;
	}

	.etiquettes {
		min-width: 300px;
	}
}
